.cen {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  font-size: 20px;
  font-family: "Comforter Brush", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Open Sans Condensed", sans-serif;
}
