.card {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.cenmed {
  /* align-items: center;
  display: flex; */
  margin: 0 auto;
}

.details {
  text-align: center;
  font-weight: bolder;
  size: 30px;
  text-decoration: underline;
}
