.btn {
  padding: 5px 20px;
  align-self: center;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
  transition-duration: 0.4s;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Comforter Brush", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Open Sans Condensed", sans-serif;
}

.btn:hover {
  background-color: white;
  color: black;
}

div {
  margin-bottom: 30px;
}

.di {
  text-align: center;
  font-size: 18.5px;
  font-family: "Comforter Brush", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Open Sans Condensed", sans-serif;
}
